*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page-wrapper{
    background-image: url("../images/helb.png");
    background-size: contain;
    height: 100vh;
}

.form{
    border: 2px solid #261818;
    height: 700px;
    width: 45%;
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #261818;
    margin-top: 20px;
    
}

.login-form{
    align-items: center;
}

.login-form h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.uname, .pwd, #loginbtn{
    align-items: center;
    margin-top: 30px;
}

#loginbtn{
    margin-top: 40px;
    margin-bottom: 50px;
    width: 40%;
    height: 55px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #EB79FC;
    position: relative;
    /*right: -110px;*/
}

.uname label, .pwd label{
    margin-right: 40px;
    font-size: 23px;
}

input[type="text"], input[type="password"]{
    font-size: 24px;
    border: 2px solid #EB79FC;
    background-color: transparent;
    margin: 10px auto;
    padding: 10px 10px;
}

#forgot {
    padding-bottom: 30px;
    position: relative;
    /*left: 10px;*/
}

/*#dont{
    position: relative;
    left: 60px;
}*/