  *{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

nav .logo a{
    color: white !important;
    font-family: 'Recursive', sans-serif;
    font-style: 800;
    font-size: 2rem;
}
nav .logo a span{
    color: #FA00FF;
    font-family: 'Recursive', sans-serif;
}
#list a{
    font-family: 'Poppins', sans-serif;
     font-size: 1.05rem;
}
#navbarText .bttn button{
    color: #FA00FF !important;
    border: 1px solid #FA00FF;
    width: 8rem;
}
.btn-outline-success:hover{
    background-color: rgba(250, 0, 255, 0.5);
}

.first{
    background-image:url('./images/page-header.jpg');
    height: 600px;
}
.first h2{
    text-align: center;
    color: white;
    margin-top: 100PX;
}
.first h3{
    color: #FA00FF;
     text-align: center;   /* ask on this */
  
}
.second{
    background-color:#FECAFF;
    /* background-image: url("./images/about.jpg" ); */
    /* background-repeat: no-repeat;
    margin-left: 150px; */
}
.second img{
    float: left;
}
 #read{
 position: absolute; 
    position: relative;
    left: 18%;   
     width: 150px;
    height: 10px;
    transform: translateY (-50%); 
} 
.second h2{
    color: #FA00FF;
}
.second p{
                            /*ask on this */
}
.second button {
    padding: 30px;
    height: 20%;
    width: 30%;
    border: 2px solid #FA00FF;
    margin-top: 40px;

}
/*
#alone{
    position:absolute;
    margin-left: 45%;
}
#alone button{
    background-color: black;
    color: white;
    padding: 30px;
}
.third{
    /* background-color: #261818; 
    background-color: whitesmoke;
    color:black;
    margin-top: 100px;
}
.third1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}
.third2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.third3{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.third1 div{
/* border: 2px solid black; */
    text-align: center;
    height: auto;
    width: 190px;
    padding: 20px;
    /* background-color: #FECAFF; */
}

.third2 div{
    text-align: center;
    height: auto;
    width: 190px;
    padding: 20px;
    /* background-color: #FECAFF; */
}


.third3 div{
    text-align: center;
    height: auto;
    width: 190px;
    padding: 20px;
    /* background-color: #FECAFF; */
}


.fourth{
  background-color:#FECAFF;
  text-align: center;
}
.fourth img{
    border-radius: 50%;
    padding: 20px;
}

.fifth{
    background-image: url('./images/rodney-manu-44BZHA2wXUM-unsplash.jpg');
    background-size:100% 100%;
    /* height: 70vh; */
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.fifth p{
  /*ask on this*/
}
.fifth button{
background-color: #FA00FF;
padding: 20px;
position: relative;
margin-top: 90px;
}
.sixth{
    background-color: #FECAFF;
    display: flex;
    justify-content: space-around;
}
.sixth img{
    border-radius: 50%;
    padding: 10px;
}
.sixth div{
    border: 2px solid black;
    padding: 20px;
    background-color: #261818;
    text-align: center;
    color: white;
}
footer{
    background-color: black;
}  */