  *{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

 }

nav .logo a{
    color: white !important;
    font-family: 'Recursive', sans-serif;
    font-style: 800;
    font-size: 2rem;
}
nav .logo a span{
    color: #FA00FF;
    font-family: 'Recursive', sans-serif;
}
#list a{
    font-family: 'Poppins', sans-serif;
     font-size: 1.05rem;
}
#navbarText .bttn button{
    color: #FA00FF !important;
    border: 1px solid #FA00FF;
    width: 8rem;
}
.btn-outline-success:hover{
    background-color: rgba(250, 0, 255, 0.5);
}
button.navbar-toggler {
    background-color: white;

}

.first{
    background-image:url('./images/page-header.jpg');
    height: 600px;
}
.first h2{
    text-align: center;
    color: white;
    margin-top: 70px;
    font-weight: bolder;
    
}
.first h3{
    color: #FA00FF;
     text-align: center;   /* ask on this */
     position: relative;
     top: 50%;
     font-weight: bolder;
  
}
.second{
   background-color: whitesmoke;

}
.second img{
    float: left;
    margin-left: 20%;
    filter: contrast(80%);
}

.second h2{
    color: #FA00FF;
}

.second button {
    padding: 20px;   
    width: 10%;
    border: 2px solid #FA00FF;
    margin-top: 10px;
    color: #FA00FF;

}

#alone{
    position:absolute;
    margin-left: 45%;
}
#alone button{
    background-color: black;
    color: white;
    padding: 30px;
    width:280px;
    margin-top: 20px;
}
.third{
    background-color:#FECAFF;;
    color:black;
    margin-top: 90px;
    
}
.third1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}
.third2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.third3{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.third1 div{

    text-align: center;
    height: auto;
    width: 190px;
    padding: 20px;
    
}

.third2 div{
    text-align: center;
    height: auto;
    width: 190px;
    padding: 20px;
   
}

.third3 div{
    text-align: center;
    height: auto;
    width: 190px;
    padding: 20px;
   
}

.fourth{
  background-color:whitesmoke;
  text-align: center;
  
}
.fourth img{
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 30px;
}

/*.fifth{
    background-image: url('./images/rodney-manu-44BZHA2wXUM-unsplash.jpg');
    background-size:cover;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.fifth p{
  position: relative;
  top: 30%;

} 
.lastie{
    background-color:#261818;
    color: white;
    display: block;
}

.sixth{
    background-color: #FECAFF;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.sixth img{
    border-radius: 50%;
    padding: 10px;
}
.sixth div{
    padding: 30px;
    text-align: center;
    color: white;
}
.col-md-3{
    background-color: #261818;
    border: 2px solid pink;
    
}
.col-md-3 img{
    width: 100%;
}
footer{
    background-color: black;
}  