*{
    margin: 0;
    padding: o;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-position: center;
    background-size: cover;
}
#navbarText bttn{
    color: #FA00FF;
}
nav .logo a{
    color: white !important;
    font-family: 'Recursive', sans-serif;
    font-style: 800;
    font-size: 2rem;
}
button.navbar-toggler{
    background-color: #ffffff;
}
nav .logo a span{
    color: #FA00FF;
    font-family: 'Recursive', sans-serif;
}
#list a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
}
#navbarText .bttn button{
    color: #FA00FF !important;
    border: 1px solid #FA00FF;
    width: 8rem;
}
.btn-outline-success:hover{
    background-color: rgba(250, 0, 255, 0.5);
}

#all{
    
    background:#FECAFF;
    width: 60%;
    height: auto;
    margin: auto;
    text-align: center;
    
    
}
.register{
    margin-top: 3%;
    padding: 20px;

}
label{
    margin-left: -30%;
}
.terms{
    margin: 30px;
}
.button{
    background-color: #261818;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
    color: #FA00FF;

}
.whole input{
    width: auto;
display: block;
margin: 20px;
margin-left: 28%;
padding: 5px 10px;
border-radius: 5px;

}
.drop{
    width: 300px;
    height: 30px;
}
.d-flex{
    flex-direction: column;
}
@media screen and (max-width:768px){
    #all {
        width: 85%;
    }
}